.gray {
  background-color: #C0C0C0;
}

// foundation
@import "base/foundation-settings";
@import "foundation";
@include foundation-everything;

// fretboard
.fretboard-parent {
  overflow: scroll;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-left:0px;
  padding-right: 0px;
}

.fretboard-table {

  // header
  .header-note-name {

  }

  .header-fret-number {

  }

  .header-open-string {

  }
  // blank row
  .seperator-row {
    height:30px;
  }

  // string
  .string-row {

    .string-note {

    }

    .string-fret {

    }
  }
}
