// foundation
@import "base/foundation-settings";
@import "foundation";
@include foundation-everything;

$fret-border: $black;

.main-menu {

  .menu-section {
    padding-left:10px;
    padding-right: 10px;
    background-color: #fff;
    padding-top: 20px;
  }

  .menu-bottom-row {
    padding-left:10px;
    padding-right: 10px;
    background-color: #fff;
    padding-top: 0px;
    padding-bottom: 10px;
  }

  .tuning-header-text {
    margin-top: 8px;
    margin-left: 8px;
    color:#fff;
  }

  .degrees {
    margin-top: 5px;
    font-weight: bold;
    font-size: x-large;
  }

  .note-circle-menu-degree {
    font-family:"Arial Unicode MS";
    font-size:12px;
    fill: #333;
  }

  .shadow {
      box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  }
}

// note circles

.note-circle-scale {
  fill: rgba(255,0,0,0.3);
  stroke: rgba(255,0,0,0.7);
  stroke-width: 1;
}

.note-circle-chord {
  fill: rgba(255,255,0,0.6);
  stroke: rgba(255,255,0,0.8);
  stroke-width: 1;
}

.note-circle-scale-chord {
  fill: rgba(255,0,0,0.3);
  stroke: rgba(255,255,0,0.6);
  stroke-width: 5;
}

// fretboard
.fretboard-parent {
  overflow: scroll;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-left:0px;
  padding-right: 0px;
  background-color: #fff;
  padding-top: 30px;
}

.fb-header {
  background-color: #1583cc;

  .fb-header-text {
    margin-top: 8px;
    color:#fff;
  }
}

// fretboard svg
.fretboard-svg {

  .fretboard-bg {
    fill:#C0C0C0;
  }

  .nut {
    fill: #000;
  }

  .fret {
    fill: #fff;
  }

  .string-line {
    stroke:#fff;
  }

  .marker-bold-text {
    font-family:"Arial Unicode MS";
    font-weight: bold;
    font-size:18px;
    fill: #333;
  }

  .marker-normal-text {
    font-family:"Arial Unicode MS";
    font-size:18px;
    fill: #999;
  }

  .open-string-note {
    fill: rgba(255,0,0,0.3);
    stroke: rgba(255,0,0,0.3);
    stroke-width: 1;
  }

  .open-string-text {
    font-family:"Arial Unicode MS";
    font-size:18px;
    fill: #000;
  }

  .fret-note-name {
    font-family:"Arial Unicode MS";
    font-size:18px;
    fill: #000;
  }

  .fret-note-degree {
    font-family:"Arial Unicode MS";
    font-size:12px;
    fill: #000;
  }

  .degree-circle {
    fill: rgba(255,255,255,0.8);
    stroke-width: 0px;
  }

  .degree-circle-1 {
    stroke: #0000FF;
    stroke-width: 1px;
  }

  .degree-circle-3 {
    stroke: #00FF00;
    stroke-width: 1px;
  }

  .degree-circle-5 {
    stroke: #FF0000;
    stroke-width: 1px;
  }

  .fretboard-inlay-marker {
    fill: #999;
    stroke-width: 0;
  }
}
